<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><%= t('ava.welcome') %></h1>
            <p class=""><%= t('ava.welcome_text') %></p>
            <%= link_to t('log_me'), new_user_session_path, class: %w(btn btn-primary btn-lg) %>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
