%h1 Listing members

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @members.each do |member|
      %tr
        %td= link_to 'Show', member
        %td= link_to 'Edit', edit_member_path(member)
        %td= link_to 'Destroy', member, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Member', new_member_path
